<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEditMode ? 'Editar Tarea' : 'Nueva Tarea' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input label="Título" labelPlacement="floating" type="text" [(ngModel)]="task.title"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-textarea label="Descripción" labelPlacement="floating" [(ngModel)]="task.description" rows="5"></ion-textarea>
    </ion-item>

    <ion-item *ngIf="isEditMode">
      <ion-label>Estado de la tarea</ion-label>
      <ion-toggle [(ngModel)]="task.completed" color="success"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-button expand="block" class="ion-margin-top" (click)="saveTask()">
    <ion-icon name="save-outline" slot="start"></ion-icon>
    Guardar Tarea
  </ion-button>
</ion-content>