<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agenda de Tareas</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterTasks()" placeholder="Buscar tarea..." animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="filteredTasks.length > 0; else noTasks">
    <ion-item *ngFor="let task of filteredTasks" button (click)="goToDetail(task.id)">
      <ion-icon [name]="task.completed ? 'checkmark-circle' : 'ellipse-outline'" 
                [color]="task.completed ? 'success' : 'medium'" 
                slot="start"></ion-icon>
      <ion-label>
        <h2 [style.text-decoration]="task.completed ? 'line-through' : 'none'">{{ task.title }}</h2>
        <p>{{ task.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ng-template #noTasks>
    <div class="ion-text-center ion-padding ion-margin-top">
      <ion-text color="medium">No tienes tareas pendientes o no hay coincidencias de búsqueda.</ion-text>
    </div>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToCreate()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>